#map {
    height: 100vh;
}

.station{
	border-style:solid;
	width:30%;
	height:400px;
	margin:3px;
	padding:10px;
	display:inline-block;
}
h1{
	color:lime;
	text-decoration:underline
}
h3{
	font-size:16px;
	text-decoration:underline
}
